In [1]:
import pandas as pd
import numpy as np
import import_ipynb

In [2]:
from get_airline_names_ import get_all_airline_names
from Real_reviews import get_reviews
# from nlp_modals import get_category

In [3]:
def get_category(reviews):
    
    categories_keywords = {
        
        "Food & Beverages": [
            "food", "meal", "drink", "beverage", "snack", "dining", "menu", "breakfast", "lunch", "dinner", "catering"
        ],
        "Inflight Entertainment": [
            "entertainment", "tv", "screen", "movie", "music", "headphones", "games", "streaming"
        ],
        "Seat Comfort": [
            "seat", "comfort", "legroom", "cushion", "space", "recline", "cramped", "old seat", "broken seat", "armrest"
        ],
        "Staff Behaviour": [
            "service", "attendant", "crew", "hospitality", "rude", "helpful", "support", "polite", "unprofessional", "assistance","staff"
        ],
        "Value for Money": [
            "expensive", "cheap", "value", "worth", "price", "affordable", "cost", "overpriced", "budget", "reasonable"
        ],
        "Punctuality": [
            "delay", "late", "punctual", "schedule", "timely", "on time", "missed flight", "waiting", "reschedule", "boarding time"
        ],
        "Hygiene": [
            "clean", "dirty", "hygiene", "tidy", "sanitation", "filthy", "smell", "messy", "neat", "maintenance"
        ],
        "Wi-Fi & Connectivity": [
            "wifi", "internet", "connection", "connectivity", "slow", "no signal", "network", "online", "streaming"
        ],
        "Cabin Environment": [
            "temperature", "air", "cabin", "smell", "noise", "lighting", "humidity", "environment", "hot", "cold"
        ],
        "Baggage Policies": [
            "baggage", "luggage", "storage", "overweight", "policy", "lost", "damaged", "extra charge", "carry-on", "handling"
        ],
        "Ticket Booking & Pricing": [
            "booking", "ticket", "reservation", "price", "refund", "change", "cancellation", "confirmation", "upgrade", "payment"
        ],
        "Customer Service": [
            "customer service", "support", "complaint", "inquiry", "assistance", "call center", "helpline", "resolution", "feedback", "response"
        ],
        "Flight Cancellation": [
            "cancellation", "rebooking", "denied boarding", "missed flight", "no show", "change of plans", "reschedule"
        ],
        "Aircraft Maintenance": [
            "aircraft", "plane", "maintenance", "condition", "old", "broken", "dirty", "outdated", "repair", "safety"
        ],
        "Compensation & Refund": [
            "compensation", "refund", "money back", "claim", "reimbursement", "denied", "refusal", "settlement", "payment", "guarantee"
        ],
        "Security Concerns": [
            "safety", "security", "incident", "emergency", "risk", "unsafe", "danger", "fear", "scary", "accident"
        ],
        "Process & Policy": [
             "policy", "procedure", "unclear", "confusing", "rules", "regulations", "miscommunication", "unaware", "wrong charge"
        ],
        "Brand Reputation": [
            "brand", "reputation", "worst", "terrible", "horrible", "disgrace", "shame", "complaint", "never again", "avoid"
        ],
        "Accessibility Needs": [
            "wheelchair", "accessibility", "disabled", "special needs", "assistance", "support", "accommodation", "priority", "service animal", "elderly support"
        ],
        "Boarding Process": [
            "check-in", "boarding", "process", "line", "queue", "slow", "waiting", "boarding gate", "boarding pass", "staff at check-in"
        ],
        "In-flight Experience": [
            "in-flight", "experience", "comfort", "food", "entertainment", "service", "crew", "ambience", "cabin environment"
        ],
        "Miscellaneous": [
            "general feedback", "overall experience", "mixed feelings", "average", "neutral", "satisfactory", "okay", "nothing special"
        ]
    }

    review_categories = []
    for review in reviews:
        
        categories_matched = []
        for category, keywords in categories_keywords.items():
            if any(keyword in review.lower() for keyword in keywords):
                categories_matched.append(category)
        review_categories.append(','.join(categories_matched) if categories_matched else "Miscellaneous")
        # review_categories.append(categories_matched if categories_matched else "Miscellaneous")

    return pd.Series(review_categories)

In [4]:
all_airlines = get_all_airline_names()

In [5]:
len(all_airlines)

573

In [6]:
df = pd.read_csv('reviews.csv')

In [7]:
df

                                  reviews
0                   pretty decent airline
1                      not a good airline
2            flight was fortunately short
3       i will never fly again with adria
4     it ruined our last days of holidays
...                                   ...
4224         trip was pleasant in general
4225                unaccommodating staff
4226            you get what you paid for
4227            very bad customer service
4228           i was pleasantly surprised

[4229 rows x 1 columns]

In [8]:
df['category'] = pd.Series(get_category(df['reviews']))

In [9]:
df

,reviews,category
0,pretty decent airline,"Cabin Environment,Boarding Process"
1,not a good airline,"Cabin Environment,Boarding Process"
2,flight was fortunately short,Miscellaneous
3,i will never fly again with adria,Miscellaneous
4,it ruined our last days of holidays,Miscellaneous
...,...,...
4224,trip was pleasant in general,Miscellaneous
4225,unaccommodating staff,Staff Behaviour
4226,you get what you paid for,Miscellaneous
4227,very bad customer service,"Staff Behaviour,Customer Service,In-flight Exp..."
4228,i was pleasantly surprised,Miscellaneous

In [10]:
df = df[df['category']!='Miscellaneous']

In [11]:
df['category'] = df['category'].str.split(',')

C:\Users\yash\AppData\Local\Temp\ipykernel_6252\3998387990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['category'] = df['category'].str.split(',')

In [12]:
df

,reviews,category
0,pretty decent airline,"[Cabin Environment, Boarding Process]"
1,not a good airline,"[Cabin Environment, Boarding Process]"
5,had very bad experience,[In-flight Experience]
6,worse than the budget airlines,"[Value for Money, Cabin Environment, Boarding ..."
9,the crew was nice,"[Staff Behaviour, In-flight Experience]"
...,...,...
4219,everything costs extra,[Value for Money]
4220,no food on board served for free,"[Food & Beverages, In-flight Experience]"
4222,flight is more affordable,[Value for Money]
4225,unaccommodating staff,[Staff Behaviour]
4227,very bad customer service,"[Staff Behaviour, Customer Service, In-flight ..."

In [13]:
df.to_csv('review_category_dataset_new_DEL.csv',index=False)